*{ 
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, sans-serif;
}
html, body, header{
    height: 100%;
}

body.themedark{
    background-color: #262626;   
}
body.themelight{
    background-color: #ffffff;
}



a, li, ul{
    list-style-type: none;
    text-decoration: none;
    color: unset;
}


.center, header{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ============= NAVBAR ============= */
header{
    justify-content: unset;
}

nav{
    display: flex;
    position: relative;
    width: 20rem;
    height: 95vh;
    left: 1rem;
    background-color: #151515;
    border-radius: 7px;
    color: #ffffff;
}

nav .bar{
    display: flex;
    justify-content: space-between;

}

